.newOrUpdateItemCard {
    height:770px;
    /* width:1512px; */
    width:100%;
    padding-top: 100px;
    background: linear-gradient(0deg, rgb(223, 207, 238) 50%, rgb(124, 52, 172) 50%);
}

.itemTitle {
    padding-top: 100px;
    display:flex;
    padding-left:60px;
    font-size: 35px;
}

.itemInputFields {
    margin-top: 100px;
    margin-left: 170px;
    height:450px;
    /* width:1200px; */
    width:80%;
    background-color: white;
    margin-bottom: 200px;
}

.itemName {
    color: black;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black 2px;
    padding-top:60px;
    margin-left: 60px;
    width:60%;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.itemButtonContainer {
    display: flex;
    padding-left:5px;
    padding-top:70px;
}

.itemSubmit {
    padding:0px;
    margin:0px;
    background-color: white;
    font-size: 25px;
    color: rgb(124, 52, 172);
    display: flex;
    width:200px;
    border:0px;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.itemCancel {
    padding:0px;
    margin:0px;
    background-color: white;
    font-size: 25px;
    color:rgb(95, 90, 90);
    display: flex;
    width:200px;
    border:0px;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.itemSubmit:hover {
    background-color: rgb(223, 207, 238);
}

.itemCancel:hover {
    background-color: rgb(223, 207, 238);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .newOrUpdateItem {
        height:100%;
        width:100%;
        display:flex;
        flex-direction: column;
        padding-top:50px;
        background: linear-gradient(0deg, rgb(223, 207, 238) 50%, rgb(124, 52, 172) 50%);
    }
    .itemInputFields {
        margin-top: 100px;
        margin-left: 40px;
        height:50%;
        /* width:1200px; */
        width:80%;
        background-color: white;
        margin-bottom: 200px;
    }
    .itemTitle {
        padding-top: 40px;
        display:flex;
        padding-left:60px;
        font-size: 35px;
    }
    .itemName {
        color: black;
        outline: none;
        outline-style: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid black 2px;
        margin-left: 60px;
        margin-top:100px;
        width:60%;
        font-size: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .itemSubmit {
        padding:0px;
        margin:0px;
        background-color: white;
        font-size: 25px;
        color: rgb(124, 52, 172);
        display: flex;
        width:200px;
        border:0px;
        height:50px;
        display:flex;
        margin-left:20px;
        align-items: center;
        justify-content: center;
    }
    
}
