body {
    padding:0px;
    margin:0px;
}

main {
    display:flex;
}

.text_section {
    width:52%;
}

.text_section p {
    padding-top:3%;
    padding-left:8%;
    font-size:40px;
    color: rgb(230, 63, 13);
}

.text_section h1 {
    font-size: 75px;
    text-align: center;
    padding-top:8%;
    padding-left:25%;
    padding-right:25%;
}

.text_section input {
    background-color: white;
    margin-left:35%;
    font-size: 25px;
    padding-top:2%;
    padding-bottom:2%;
    padding-left:5%;
    padding-right:5%;
    font-weight: bold;
    border: 5px solid black;
}

.image_section {
    width:48%;
}

.image_section img {
    padding:10%;
    height:75%;
    width:80%;
    background-color: rgb(230, 63, 13);
}

